---
## Add any additional packages
additional_packages:
  - nfs-utils
  - iscsi-initiator-utils
  - device-mapper-multipath
  - sg3_utils
  - git
  - https://s3.{{ region| default("eu-west-2") }}.amazonaws.com/amazon-ssm-{{ region| default("eu-west-2") }}/latest/linux_amd64/amazon-ssm-agent.rpm
  - screen
  - logrotate
  - python3
  - python3-pip
  - python3-libselinux
  - python3-libsemanage
  - python3-policycoreutils
  - python39
  - chrony
  - audit
  - audit-libs
  - audispd-plugins
  - rsyslog

pip_install_packages:
  - name: pip
    state: latest
  - name: ansible
    version: "2.10.7"
  - name: j2cli
    umask: "0022"
  - name: selinux
    umask: "0022"

clamav_mirror: http://clamav-mirror.sharedservices.aws.internal

## CloudWatch Agent Variables
cwa_conf_json_file_content: "{{ lookup('file', 'files/cloudwatch-config.json') }}"

## CIS Hardening Variables
rhel9cis_time_synchronization: chrony
rhel9cis_time_synchronization_servers: ["169.254.169.123"] #Default VPC source
#Disable crypto setting changes as it causes DNF to fail installs
rhel9cis_rule_1_10: false
#Disable GRUB tasks
rhel9cis_rule_1_4_2: false
#Disable Firewall Tasks, we manage this in app deploy
rhel9cis_rule_3_4_1: false
rhel9cis_rule_3_4_2: false
#Disable rsyslog/syslog-ng, using cloudwatch
rhel9cis_rule_4_2_1: false
#Disable password set for ec2-user
rhel9cis_rule_5_3: false
rhel9cis_rule_5_3_4: false
#Disable root password check
rhel9cis_rule_5_6_6: false

# Setup hosts.allow entries
rhel9cis_host_allow:
  - "127.0.0.1"
  - "10.0.0.0/255.0.0.0"
  - "172.16.0.0/255.240.0.0"
  - "192.168.0.0/255.255.0.0"
