---
collections:
  - name: https://github.com/companieshouse/ansible-collections.git#ch_collections/base
    version: 0.1.132
    type: git
  - name: community.general
    version: 4.8.0
  - name: ansible.posix
    version: 1.5.4
  - name: https://github.com/companieshouse/ansible-collections.git#ch_collections/security_banner
    type: git

roles:
  - name: geerlingguy.repo-epel
  - src: https://github.com/ansible-lockdown/RHEL9-CIS.git
    name: RHEL9-CIS
    version: 1.3.1
  - src: https://github.com/christiangda/ansible-role-amazon-cloudwatch-agent.git
    name: cloudwatch-agent
