---
collections:
  - name: https://github.com/companieshouse/ansible-collections.git#ch_collections/base
    version: 0.1.132
    type: git
  
  - name: community.general
    version: 4.8.0
  
  - name: ansible.posix
    version: 1.1.1

roles:
  - src: https://github.com/geerlingguy/ansible-role-repo-epel
    name: epel
    version: "1.3.0"

  - src: https://github.com/ansible-lockdown/RHEL9-CIS.git
    name: RHEL9-CIS
    version: 1.3.1
  
  - src: https://github.com/christiangda/ansible-role-amazon-cloudwatch-agent.git
    name: cloudwatch-agent
    
